@media screen and (min-width: 1024px){
    .nav_container{
        background-color: #000814;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav_logo{
        color: #fff;
        text-decoration: none;
        font-size: 28px;
        font-weight: bold;
    }

    .nav_logo img{
        max-width: 24px;
    }

    .nav_logo span{
        color: #ffd60a;
    }

    .nav_link {
        text-decoration: none;
        color: #fff;
        transition: .2s;
        padding: 5px;
    }

    .nav_link:hover {
        text-decoration: none;
        color: #ffd60a;
        border-right: 2px solid #ffd60a;
    }

    ul{
        list-style-type: none;
        display: flex;
        justify-content: space-between;
    }

    ul li{
        margin-left: 2em;
    }

    .btn_nav{
        margin-top: -3px;
        cursor: pointer;
    }

    .btn_nav:hover{
        text-decoration: none;
        color: #ffd60a;
        border-right: 2px solid #ffd60a;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .nav_container{
        background-color: #000814;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav_logo{
        color: #fff;
        text-decoration: none;
        font-size: 28px;
        font-weight: bold;
    }

    .nav_logo img{
        max-width: 24px;
    }

    .nav_logo span{
        color: #ffd60a;
    }

    .nav_link {
        text-decoration: none;
        color: #fff;
        transition: .2s;
        padding: 5px;
    }

    .nav_link:hover {
        text-decoration: none;
        color: #ffd60a;
        border-bottom: 2px solid #ffd60a;
    }

    ul li{
        margin-top: .5em;
    }
}

@media screen and (max-width: 767px){
    .nav_container{
        background-color: #000814;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav_logo{
        color: #fff;
        text-decoration: none;
        font-size: 28px;
        font-weight: bold;
    }

    .nav_logo img{
        max-width: 24px;
    }

    .nav_logo span{
        color: #ffd60a;
    }

    .nav_link {
        text-decoration: none;
        color: #fff;
        transition: .2s;
        padding: 5px;
    }

    .nav_link:hover {
        text-decoration: none;
        color: #ffd60a;
        border-bottom: 2px solid #ffd60a;
    }

    ul li{
        margin-top: .5em;
    }
}